.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(161, 161, 161, 0.719);
}
.modal-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: rgb(38, 38, 38);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#cancel-btn {
  float: right;
  display: block;
  margin-bottom: 15px;
}
